.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.playground {
  width: 1328px;

  @media (max-width: 1328px) {
    width: 100%
  }

  margin-top: 30px;
}

.tabs {
  width: fit-content;
}

.editor:has(.ye-editor-component) {
  margin-top: 30px;
}
