.g-root {
  .pc-control-panel.pc-control-panel {
    border-top: none;
  }

  .pc-editor-layout__left, .pc-editor-layout__right {
    height: calc(100vh - 230px);
    max-height: calc(100vh - 230px);
  }

  .pc-editor-layout__right > .pc-device-emulation-mobile {
    height: 100%;
  }

  --g-tabs-item-height: 100%;

  .g-tabs__item-title {
    font-size: var(--g-text-body-2-font-size);
  }
}
